@model Fly_Away.DTOs.LoginRequest

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form method="post">
    <label>Email:</label><br />
    <input name="Email" /><br /><br />

    <label>Password:</label><br />
    <input name="Password" type="password" /><br /><br />

    <button type="submit">Login</button>
</form>

<p>
    New user?
    <a href="/AuthPage/Register">Register</a>
</p>
